/.idea/shelf/Uncommitted_changes_before_Update_at_19_12_2022_21_52_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_19_12_2022_21_52__Changes_.xml
/.idea/misc.xml
/.idea/skillbox.iml
/.idea/workspace.xml
/.idea/vcs.xml
/.idea/modules.xml
/.idea/shelf
/.idea/inspectionProfiles